/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Define full-page layout */
.body-layout {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Main 75%, Sidebar 25% */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .body-layout {
    grid-template-columns: 1fr;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* my settings */
ul#mylist li {
  list-style-type: circle;
  margin-left: 20px;
}

ol#mylist {
  padding-left: 0;
}

/* my settings */
ol#mylist li {
  list-style-type: decimal;
  margin-left: 20px;
  margin-right: 12px;
}

